<section id="characters" class="container">
    <h1>All Characters</h1>

    {{#each dbcharacters}}
      <div class="character">
      <h3>{{name}}</h3>
      <p>{{class}}</p>
      <ul>
        <li>Level: {{level}}</li>
        <li>{{current_hp}}</li>
      </ul>
    {{else}}
      <p>No characters available</p>
    {{/each}}
    
  </section>