<div class='valign-wrapper row login-box'>
  <div class='col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4'>

    <form>
      <div class='card-content'>
        <span class='card-title'></span>
        <div class='row'>
          <div class='input-field col s12'>
            <label for='name'>Name</label>
            <input type='text' id='character-name' value={{characters.name}}>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-class' value={{characters.class}}>
            <label for='class'>Class</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-level' value={{characters.level}}>
            <label for='level'>Level</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-background' value={{characters.background}}>
            <label for='background'>Background</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-player_name' value={{characters.player_name}}>
            <label for='player_name'>Player_name</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-faction'  value={{characters.faction}}>
            <label for='faction'>Faction</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-race' value={{characters.race}}>
            <label for='race'>Race</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-alignment'  value={{characters.alignment}}>
            <label for='alignment'>Alignment</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-exp' value={{characters.exp}}>
            <label for='exp'>Exp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-inspiration' value={{characters.inspiration}}>
            <label for='inspiration'>Inspiration</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-strength' value={{characters.strength}}>
            <label for='strength'>Strength</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-dexterity' value={{characters.dexterity}}>
            <label for='dexterity'>Dexterity</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-constitution' value={{characters.constitution}}>
            <label for='constitution'>Constitution</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intelligence'  value={{characters.intelligence}}>
            <label for='intelligence'>Intelligence</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-wisdom' value={{characters.wisdom}}>
            <label for='wisdom'>Wisdom</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-charisma' value={{characters.charisma}}>
            <label for='charisma'>Charisma</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-strength_st' value={{characters.strength_st
			}}>
            <label for='strength_st'>Strength_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-dexterity_st' value={{characters.dexterity_st}}>
            <label for='dexterity_st'>Dexterity_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-constitution_st' value={{characters.constitution_st}}>
            <label for='constitution_st'>Constitution_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intelligence_st' value={{characters.intelligence_st}}>
            <label for='intelligence_st'>Intelligence_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-wisdom_st' value={{characters.wisdom_st}}>
            <label for='wisdom_st'>Wisdom_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-charisma_st' value={{characters.charisma_st}}>
            <label for='charisma_st'>Charisma_st</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-armor_class' value={{characters.armor_class}}>
            <label for='armor_class'>Armor_class</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-initiative' value={{characters.initiative}}>
            <label for='initiative'>Inititative</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-speed' value={{characters.speed}}>
            <label for='speed'>Speed</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-current_hp' value={{characters.current_hp}}>
            <label for='current_hp'>Current_hp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-temp_hp' value={{characters.temp_hp}}>
            <label for='temp_hp'>Temp_hp</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-personality_traits' value={{characters.personality_traits}}>
            <label for='personality_traits'>Personality_traits</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-ideals' value={{characters.ideals}}>
            <label for='ideals'>Ideals</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-bonds' value={{characters.bonds}}>
            <label for='bonds'>Bonds</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-flaws' value={{characters.flaws}}>
            <label for='flaws'>Flaws</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-attacks_and_spellcasting' value={{characters.attacks_and_spellcasting}}>
            <label for='attacks_and_spellcasting'>Attacks_and_spellcasting</label>
          </div>
          <div class='input-field col s12'>
            <input type='text'id='character-passive_wisdom' value={{characters.passive_wisdom}}>
            <label for='passive_wisdom'>Passive_wisdom</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-equipment'  value={{characters.equipment}}>
            <label for='equipment'>Equipment</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-features_and_traits' value={{characters.features_and_traits}}>
            <label for='features_and_traits'>Features_and_traits</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-other_proficiencies_and_languages' value={{characters.other_proficiences_and_languages}}>
            <label for='other_proficiences_and_languages'>Other_proficiencies_and_languages</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-age' value={{characters.age}}>
            <label for='age'>Age</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-height' value={{characters.height}}>
            <label for='height'>Height</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-weight' value={{characters.weight}}>
            <label for='weight'>Weight</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-eyes' value={{characters.eyes}}>
            <label for='eyes'>Eyes</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-skin' value={{characters.skin}}>
            <label for='skin'>Skin</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-hair' value={{characters.hair}}>
            <label for='hair'>Hair</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-acrobatics' value={{characters.acrobatics}}>
            <label for='acrobatics'>Acrobatics</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-animal_handling' value={{characters.animal_handling}}>
            <label for='animal_handling'>Animal_handling</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-arcana' value={{characters.arcana}}>
            <label for='arcana'>Arcana</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-athletics' value={{characters.athletics}}>
            <label for='athletics'>Athletics</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-deception' value={{characters.deception}}>
            <label for='deception'>Deception</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-history' value={{characters.history}}>
            <label for='history'>History</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-insight' value={{characters.insight}}>
            <label for='insight'>Insight</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-intimidation' value={{characters.intimidation}}>
            <label for='intimidation'>Intimidation</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-investigation' value={{characters.investigation}}>
            <label for='investigation'>Investigation</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-medicine' value={{characters.medicine}}>
            <label for='medicine'>Medicine</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-nature' value={{characters.nature}}>
            <label for='nature'>Nature</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-perception' value={{characters.perception}}>
            <label for='perception'>Perception</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-performance' value={{characters.performance}}>
            <label for='performance'>Performance</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-persuasion' value={{characters.persuasion}}>
            <label for='persuasion'>Persuasion</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-religion' value={{characters.religion}}>
            <label for='religion'>Religion</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-sleight_of_hand' value={{characters.sleight_of_hand}}>
            <label for='sleight_of_hand'>Sleight_of_hand</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-stealth' value={{characters.stealth}}>
            <label for='stealth'>Stealth</label>
          </div>
          <div class='input-field col s12'>
            <input type='text' id='character-survival' value={{characters.survival}}>
            <label for='survival'>Survival</label>
          </div>
        </div>
      </div>
      <div class='card-action right-align'>
       
        <input type='submit' class='btn green waves-effect waves-light' value='Create'>
      </div>
    </form>
  </div>
   <button id='update-button'> I'm a button </button>
</div>

<script>$('#update-button').on('click', console.log('button clicked'));</script>